# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/bin/
/dist/

# Dependencies
/vendor/

# Go test and coverage files
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# IDE and editor files
.idea/
.vscode/
*.swp

# Logs
*.log

# Temporary files
tmp/

# env file
.env
